---
layout: archive
title: ""
permalink: /grants/
author_profile: true
---

{% include base_path %}

<h1>Current research projects</h1>

{% assign current = site.portfolio | where: "status", "current" | sort: "start" | reverse %}
{% for post in current %}
  {% include archive-single.html %}
{% endfor %}

<br>

<h1>Completed research projects</h1>

{% assign completed = site.portfolio | where: "status", "completed" | sort: "start" | reverse %}
{% for post in completed %}
  {% include archive-single.html %}
{% endfor %}
