{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.collection == 'publications' or post.collection == 'wps' %}
        <a href="#" class="pub-toggle" onclick="togglePub(this); return false;" style="cursor:pointer;">{{ title }}</a>
      {% elsif post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}; <i>{{ post.venue }}</i>;  {{ post.semesters }}{{ post.coauthors }}. </p>
        {% elsif post.collection == 'pastteaching' %}
          <p> {{ post.type }}; <i>{{ post.venue }}</i>;  {{ post.semesters }}{{ post.coauthors }}. </p>
        {% elsif post.collection == 'publications' %}
          <p style="margin:0.15em 0 0;">{{ post.coauthors }}<br>
          <i>{{ post.journal }}</i>{{ post.issue }}, {{ post.year }}.<br>
          {% if post.doi %}<a href="{{ post.doi }}" target="_blank">[DOI]</a>{% endif %}{% if post.ceprdpurl %} <a href="{{ post.ceprdpurl }}" target="_blank">[CEPR DP]</a>{% endif %}{% if post.frbwpurl %} <a href="{{ post.frbwpurl }}" target="_blank">[FRB WP]</a>{% endif %}{% if post.oenbwpurl %} <a href="{{ post.oenbwpurl }}" target="_blank">[OeNB WP]</a>{% endif %}{% if post.suerfurl %} <a href="{{ post.suerfurl }}" target="_blank">[SUERF PB]</a>{% endif %}{% if post.slidesurl %} <a href="{{ post.slidesurl }}" target="_blank">[Slides]</a>{% endif %}{% if post.codeurl %} <a href="{{ post.codeurl }}" target="_blank">[Code]</a>{% endif %}{% if post.videourl %} <a href="{{ post.videourl }}" target="_blank">[Video]</a>{% endif %}</p>
          <div class="pub-content" style="display:none; margin-top:0.5em;">{{ post.content }}</div>
        {% elsif post.collection == 'book' %}
          <p style="margin:0.15em 0 0;">{{ post.coauthors }}<br>
          <i>{{ post.journal }}</i>{{ post.issue }}, {{ post.year }}.<br>
          {% if post.doi %}<a href="{{ post.doi }}" target="_blank">[DOI]</a>{% endif %}{% if post.paperurl %} <a href="{{ post.paperurl }}" target="_blank">[Draft]</a>{% endif %}{% if post.codeurl %} <a href="{{ post.codeurl }}" target="_blank">[Code]</a>{% endif %}{% if post.slidesurl %} <a href="{{ post.slidesurl }}" target="_blank">[Slides]</a>{% endif %}</p>
        {% elsif post.collection == 'wps' %}
          <p style="margin:0.15em 0 0;">{{ post.coauthors }}<br>
          <i>{{ post.journal }}</i>{{ post.issue }}, {{ post.year }}.<br>
          {% if post.paperurl %}<a href="{{ post.paperurl }}" target="_blank">[WP]</a>{% endif %}{% if post.arxivurl %} <a href="{{ post.arxivurl }}" target="_blank">[arXiv]</a>{% endif %}{% if post.ssrnurl %} <a href="{{ post.ssrnurl }}" target="_blank">[SSRN]</a>{% endif %}{% if post.irenewpurl %} <a href="{{ post.irenewpurl }}" target="_blank">[IRENE WP]</a>{% endif %}{% if post.frbwpurl %} <a href="{{ post.frbwpurl }}" target="_blank">[FRB WP]</a>{% endif %}{% if post.oenbwpurl %} <a href="{{ post.oenbwpurl }}" target="_blank">[OeNB WP]</a>{% endif %}{% if post.ceprdpurl %} <a href="{{ post.ceprdpurl }}" target="_blank">[CEPR DP]</a>{% endif %}{% if post.suerfurl %} <a href="{{ post.suerfurl }}" target="_blank">[SUERF PB]</a>{% endif %}{% if post.slidesurl %} <a href="{{ post.slidesurl }}" target="_blank">[Slides]</a>{% endif %}{% if post.codeurl %} <a href="{{ post.codeurl }}" target="_blank">[Code]</a>{% endif %}</p>
          <div class="pub-content" style="display:none; margin-top:0.5em;">{{ post.content }}</div>
        {% elsif post.collection == 'institutional' %}
          <p style="margin:0.15em 0 0;">{{ post.coauthors }}<br>
          <i>{{ post.journal }}</i>{{ post.issue }}, {{ post.year }}.<br>
          {% if post.doi %}<a href="{{ post.doi }}" target="_blank">[DOI]</a>{% endif %}{% if post.codeurl %} <a href="{{ post.codeurl }}" target="_blank">[Code]</a>{% endif %}{% if post.slidesurl %} <a href="{{ post.slidesurl }}" target="_blank">[Slides]</a>{% endif %}</p>
        {% endif %}

        {% if post.excerpt and site.read_more != 'enabled' %}
         <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
        {% elsif post.excerpt and site.read_more == 'enabled' %}
        <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
        {% endif %}

  </article>
</div>
